.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.hero-video{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

.overlay{
    position:absolute;
    inset:0;
    background:linear-gradient(
        rgba(0,0,0,.60),
        rgba(0,0,0,.45)
    );
}

.hero-content{

    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    width:90%;
    max-width:900px;

    text-align:center;

    color:white;

    z-index:5;

    animation:heroFade 1.2s ease;

}


.tag{

    display:inline-block;

    padding:10px 24px;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,.25);

    border-radius:40px;

    font-size:15px;

    font-weight:600;

    margin-bottom:25px;

    color:white;

}

/* Heading */

.hero-content h1{

    font-size:45px;

    font-weight:800;

    line-height:1.2;

    margin-bottom:20px;

    text-shadow:0 8px 20px rgba(0,0,0,.45);

}

.hero-content h1 span{

    color:rgb(57, 136, 232);

}

/* Paragraph */

.hero-content p{

    font-size:20px;

    line-height:1.8;

    margin-bottom:40px;

    color:#f2f2f2;

}

/* ================= BUTTONS ================= */

.hero-btns{

    display:flex;

    justify-content:center;

    gap:18px;

    flex-wrap:wrap;

}

/* Common Button */

.order-btn,
.plan-btn{

    padding:15px 35px;

    border-radius:50px;

    border:none;

    cursor:pointer;

    font-size:17px;

    font-weight:600;

    transition:.35s;

}

/* Order Button */

.order-btn{

    background:rgb(57, 136, 232);

    color:white;

    box-shadow:0 10px 25px rgb(9, 59, 144);

}

.order-btn:hover{

    transform:translateY(-5px);

    background:rgb(9, 59, 144);

}

/* Plan Button */

.plan-btn{

    background:white;

    color:#222;

}

.plan-btn:hover{

    background:transparent;

    color:white;

    border:2px solid white;

}

/* ================= FEATURES ================= */

.hero-features{

    margin-top:45px;

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}

.hero-features div{

    display:flex;

    align-items:center;

    gap:8px;

    padding:12px 20px;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(8px);

    border-radius:40px;

    color:white;

    transition:.35s;

}

.hero-features div:hover{

    transform:translateY(-5px);

    background:rgba(255,255,255,.25);

}

/* ================= ANIMATION ================= */

@keyframes heroFade{

    0%{

        opacity:0;

        transform:translate(-50%,-30%);

    }

    100%{

        opacity:1;

        transform:translate(-50%,-50%);

    }

}

/* ================= MOBILE ================= */

@media(max-width:768px){

.hero{

height:100vh;

}

.hero-content{

width:92%;

}

.hero-content h1{

font-size:38px;

}

.hero-content p{

font-size:16px;

line-height:1.6;

}

.tag{

font-size:13px;

padding:8px 18px;

}

.hero-btns{

flex-direction:column;

}

.order-btn,
.plan-btn{

width:100%;

}

.hero-features{

gap:12px;

}

.hero-features div{

font-size:13px;

padding:10px 15px;

}

}

/* ================= SMALL MOBILE ================= */

@media(max-width:480px){

.hero-content h1{

font-size:30px;

}

.hero-content p{

font-size:15px;

}

.tag{

font-size:12px;

}

}

/* location */

.location-section {
  padding: 30px 20px;
  width: 100%;
  margin: 10px auto;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}
.location-info h2 {
  margin: 0;
  font-size: 22px;
  color: #123b56;
  letter-spacing: 1.5px;
}
.location-info p {
  margin: 6px 0 18px;
  font-size: 13px;
  color: #71808a;
  letter-spacing: 1px;
}
.location-box span{
    font-size: 30px;
    color: #57aee8;
}

.location-input-box{
    display: flex;
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgb(235, 239, 241);
    border-radius: 10px;
    height: 45px;
    /* justify-content: space-around; */
    align-items: center;
    gap: 30px;
    padding: 20px;
    background-color: #f8fcfe;
}
.location-input-box input{
    border: none;
    height: 45px;
    width: 100%;
    font-size: 25px;
    
}
.location-input-box span{
    font-size: 20px;
    color: #57aee8;
} 

.location-input-box input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
}

.type-of-water{
    width: 100%;
    margin: 0 auto;
    height: 400px;
    padding: 20px;
}
.type-of-water h2{
font-size: 20px;
}

.type-of-order-cards{
    display: flex;
    width: 100%;
    height: 300px;
    margin: 13px auto;
    gap: 10px;
}

.cold-water{
    width: 180px;
    height: 160px;
    background: url(./cold.jfif);
    background-size: 100% 100%;
    border-radius: 8px;
    position: relative;
}
.cold-water h4{
position: absolute;
bottom: 60px;
left: 10px;
}
.cold-water p{
position: absolute;
bottom: 40px;
left: 10px;
}
.cold-water span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.normal-water{
    width: 180px;
    height: 160px;
    background: url(./normal.jfif);
    background-size: 100% 100%;
    border-radius: 8px;
    position: relative;
}
.normal-water h4{
position: absolute;
bottom: 60px;
left: 10px;
}
.normal-water p{
position: absolute;
bottom: 40px;
left: 10px;
}
.normal-water span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 30px;
    width: 30px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}



/* Quote Section */

.quote-section {
  width: 100%;
  padding: 65px 20px;
  background: #edfafd;
  text-align: center;
}

.quote-content {
  max-width: 700px;
  margin: 0 auto;
}

.quote-icon {
  font-size: 55px;
  line-height: 35px;
  color: #159bc5;
  font-family: Georgia, serif;
  margin-bottom: 15px;
}

.quote-content h2 {
  margin: 0;
  color: #164b63;
  font-size: 30px;
  line-height: 1.4;
  font-weight: 600;
}

.quote-content h2 span {
  color: #159bc5;
}

.quote-content p {
  margin: 15px 0 0;
  color: #617982;
  font-size: 14px;
}


/* Mobile */

@media (max-width: 480px) {

  .quote-section {
    padding: 50px 18px;
  }

  .quote-icon {
    font-size: 48px;
  }

  .quote-content h2 {
    font-size: 23px;
    line-height: 1.5;
  }

  .quote-content p {
    font-size: 13px;
    line-height: 1.5;
  }

}

.footer-bottom-rights {
  border-top: 1px solid #e5eef1;
  padding: 18px 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.footer-bottom-rights p {
  margin: 0;
  color: #819198;
  font-size: 11px;
}